html,body{
    width: 100% !important;
    padding: 0%;
    margin: 0%;
}


/* Si el usuario tiene activado en su dispositivo el modo oscuro */

@media (prefers-color-scheme: dark) {

    #luna{
        display: none;
        cursor: pointer;
    }

    #sol{
        display: block;
        cursor: pointer;
    }

    #body{
      background-color: black;
      color: white;
    }

    header,#header{
        background-color: black !important;
    }

    .nav-link{
        color: white !important;
      }

    .text-muted{
        color: white !important;
    }
}



header{
    width: 100%;
    padding-left: 4%;
    padding-right: 2%;
    display: flex;    
}

#header {
    height: auto;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    max-width: none !important;
}

header>.nav{
    align-items: center;
    justify-content: center;
}


#logo{
    width: 50px;
}

#nombre{
    font-family:Acme;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

.sol{
    width: 2.5%;
    height: 2.5%;
    display: none;
    cursor: pointer;
    min-width: 20px;
}

.luna{
    width: 2.5%;
    height: auto;
    min-width: 20px;
    cursor: pointer;
}


/* FOOTER */


#nav{
    color: var(--bs-nav-link-color);
    justify-content: end;
    width: 60%;
  }



#footer{
    --bs-gutter-x: 0% !important;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 3px solid blue;
    background-color: #00c6fb;
}

.div-text{
    width: 80% !important;
    flex:inherit !important;
}

p{
    text-align:center;
    font-size: 1.7vw;
}

.textFooter{
    font-family: Acme;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}


@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 100% !important;
    }
}